@model List<Ventas>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de Ventas</h1>
    
</div>

<div class="card">
  <div class="card-header">
    Tabla de Ventas
  </div>
  <div class="card-body">
   <a asp-action="Venta" asp-controller="Home" asp-route-id="0" class="btn btn-success btn-sm">Nueva Venta</a>
   <hr/>
   <table class="table">
       <thead>
           <tr>
               <th>Cliente</th>
               <th>Vendedor</th>
               <th>Producto</th>
               <th>Cantidad</th>
               <th>Precio</th>
               <th>Importe</th>
           </tr>
       </thead>
       <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.cliente</td>
                        <td>@item.vendedor</td>
                        <td>@item.producto</td>
                        <td>@item.cantidad</td>
                        <td>@item.precio</td>
                        <td>@item.importe</td>
                        <td>
                            <a asp-action="Venta" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
   </table>
  </div>
</div>